*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background: #000000; */
    color: #404040;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6, li{
    margin-top: 0;
}

h1, h2, strong{
    font-weight: 700;
}

.hero-title{
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0;
}

.accent-color{
    color: #ffe600;
}

.btn{
   padding: .5em 1.75em;
   font-weight: 700;
   text-decoration: none;
}

.btn-primary{
   background: #ffe600;
   color: #000;
   justify-self: start;
   margin-top: .5em;

}


/*======================================================
                    navigation area
=======================================================*/

.header{
    background: black;
}

.header-content{
    display: flex;
    grid-column: 2 / -2;
}

.logo-link{
    background-color: #ffe600;
    padding-top: 2em;
}

.nav{
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 2px solid magenta;
}

.nav-list{
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus{
    color:#ffe600;
}

.close-nav{
    border:0;
    background: 0;
    color: #ffe600;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}


/*======================================================
                    hero area
=======================================================*/


.main-grid{
    display: grid;

    grid-template-columns: minmax(1em, 1fr) minmax(260px, 500px) minmax(1em, 1fr);

    column-gap: 2em;
}


@media (min-width: 600px)
{
    .main-grid{
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(1em, 1fr);
    }
}

.hero{
    background-image: url(img/hero-bg.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-color: #000; */
    color: #fff;
    padding: 6em 0;
}

/*! BE CLEAR ABOUT WHAT THE FOLLOWING SELECTOR DOES */
.hero > *{
    grid-column: 2 / 3;
}


@media (min-width: 600px)
{
    .her{
        padding: 6em 0;
    }
    .hero > *{
        grid-column: 2 / span 2;
    }
}



/*======================================================
                    info area
=======================================================*/

.info{
    padding: 4em 0;
}

.section-title{
    font-size: 18px;
    margin: 0;
    color: #000;
    margin-top: 1.25em;
}

.col{
    text-align: center;
    grid-column: 2 / 3;
}

@media (min-width: 600px )
{
    .col{
        grid-column: span 1;
    }

    .col:first-child {
        grid-column: 2 / span 1;
    }

}




/*======================================================
                    footer area
=======================================================*/

.footer{
    background: #ebebeb;
    padding: 4em 0;
    text-align: center;
}

.footer-main,
.social-list{
    grid-column: 2 / 3;
}

.social-list{
    order: -1;
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    /* align-items: center; */
}

.footer-logo{
    margin:0 auto;
}

.social-link{
}

.social-link{
    text-decoration: none;
}

.footer-text,
.footer-fineprint{
    opacity: .4;
}

.footer-fineprint{
    margin-top: 3em;
    font-size: .75rem;
}

@media (min-width: 600px)
{
    .footer-main{
        grid-column: 2 / span 2;
        text-align: start;
        justify-self: start;
    }

    .footer-logo{
        margin:0;
    }

    .social-list{
        grid-column: 4 / span 1;
        grid-row: 1/ span 1;
        justify-content: flex-end;
        align-items: center;
    }


}