*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #000000;
    color: #FFF;
}

img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6, li{
    margin-top: 0;
}