
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

img{
    max-width: 100%;
    display: block;
}

.section{
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10rem;
}

div:nth-child(1)
{
    grid-column: 1 / 3;
    grid-row: 1/3;
}


div:nth-child(2)
{
    grid-column:   3/ 5;
    grid-row: 1/3;
}


div:nth-child(3)
{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}


div:nth-child(4)
{
    grid-column:   3/ 5;
    grid-row: 3 / 5 ;
}

div:nth-child(5)
{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    border: 10px solid white;
    transform: rotate(-10deg);
    overflow: hidden;
}

div:nth-child(5) img{
    transform: rotate(10deg) scale(1.3);
}