body {
    margin: 0;
    font-size: 1.125rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

/*=======================================*/
/*             Typorgraphy               */
/*=======================================*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin-top: 0;
}
h1, h2, h3{
    font-family: "Lora", sans-serif;
    color: #143774;
    font-weight: 400;
}


h1 {
    margin: 0;
    font-size: 2rem;
}


strong{
    font-weight: 700;
}


ul{
    margin: 0;
}


header {
   background: #f8f8f8;
   padding: 2.5em 0;
   text-align: center;
   margin-bottom: 3em;
}

.article-info{
    font-size: 0.875rem;
    margin: 2em 0;
}

.article-title{
    font-size: 1.5rem;
}

.subtitle{
    font-weight: bold;
    color: #1792d2;
    font-size: 0.75rem;
    margin: 0;
    text-transform: uppercase;
}

.article-body{
    color: #707070;

}

/*************links*****************/
/***********************************/
a{
    color:#1792d2 !important;
    text-decoration: none;
}

a:hover, a:focus{
    color:#143774 !important;
    text-decoration: underline;
}

.article-read-more{
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #1792d2 !important;
    font-weight: bold;
    text-decoration: none;
}


.article-read-more:hover,
.article-read-more:focus
{
    color: #143774 !important;
    text-decoration: underline;
}

/**************************************/

/*=======================================*/
/*                Layout                 */
/*=======================================*/
.container{
    width: 90%;
    max-width: 980px;
    margin: auto;
}


.container-nav,
.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-nav{
    align-items: center;
    justify-content: center;
}

.nav-list-item{
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 675px) {


.container-nav,
.container-flex{
    flex-direction: row;
    }

.container-nav{
    justify-content: space-between;
}

    main{
        width: 70%;
    }

    aside{
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }

}

/***************Navigation & Navigation links***************/
/***********************************************************/
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 1rem;
}

nav li {
    margin-top: 1rem;
}

nav a {
    text-decoration: none !important;
    color: #707070 !important;
    font-weight: 700;
    padding-bottom: 0.25em;
}



@media (min-width: 675px) {

    nav ul{
        flex-direction: row;
        }

    nav li{
       margin-top: 0;
       margin-left: 2em;
        }

}


nav a:hover,
nav a:focus {
    color: #1792d2 !important ;
}

.current-page{
    border-bottom: 2px #707070 solid;
}

.current-page:hover,
.current-page:focus{
    color: #707070 !important;
}
/***************Navigation & Navigation links End********************/

/**********articles **********************/
.article-featured{
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px #707070 solid;
    display: flex;
    flex-direction: column;
}


.article-featured-main{
    order: 4;
}

.article-featured-secondary{
    order: 2;
}

.article-recent{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-secondary{
    order: 1;
}


.article-recent-main{
    order: 2;
}


@media (min-width: 675px) {
    .article-recent{
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main{
        width: 68%;
    }

    .article-recent-secondary{
        width: 30%;
    }

    .article-img{
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }

    .crp-left{
        object-position: left;
    }
}

/* widgets*/
.widget-title{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

.widget-body{
    margin-top: 1.5em;
    font-size: 1rem;
}

.sidebar-widget{
    border: 20px solid #efefef;
    padding: 1em;
    margin-bottom: 3em;

}

.widget-recent-post{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
}

.widget-recent-post:last-child{
    border-bottom: 0;
}

.widget-recent-post-title{
    font-size: 1rem;
    order: 5;
    line-height: 1.4;
}

.widget-image{
    order: 2;
    margin: 1em 0;
}


