body {
    margin: 0;
    color: #707070;
    background: #fff;
    font-size: 1.125rem;
}

/* Typography*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 35px 0;
    color: #212614;
    font-size: 3rem;
}

.h1-span {
    color: #b7832f;
}

h2 {
    /* margin: 0; */
    color: #707070;
    font-size: 1.5rem;
}


.container {
    max-width: 980px;
    margin: auto;
    width: 95%;
}

.elemage {
    width: 100%;
    object-fit: cover;
}

.columns {
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

.col-bg {
    background: #212614;
    padding: 1em;
    color: #fff;
}