/* common styles */
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* end of common styles */

h1, h2, h3, h4, h5, h6, li, p{
    margin-top: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

/* navbar styles */

.menu-icon{
    margin-top: 2rem;
    cursor: pointer;
}

.menu-icon:hover .line{
    width: 2rem;
}

.line{
    height: .2rem;
    width:2rem;
    background-color: #222;
    margin-bottom: .4rem;
}

.line-1, .line-3{
    width: 1.5rem;
    transition: width .3s;

}

.social-icons-list{
    display: flex;
    flex-direction: column;
}

.social-icon-item{
    align-self: center;
    margin-bottom: 2em;

}

.sidebar{
    width:5rem;
    height: 100%;
    background: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.social-link{
    text-decoration: none;
    font-weight: 700;
    color: #777;
    font-size: 1.5rem;
    transition: color .3s;
}

.social-link:hover{
    color: #deaa86;
    /* color: mediumslateblue; */
}

.year{
    color: #555;
   font-size: .75rem;
}

.navigation{
    /* visibility: hidden; */
    /* opacity: 0; */
    margin-left: 5rem;
    position: fixed;
    width: 25rem;
    left: -25rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34, 32, 41, 1),
    rgba(34, 32, 41, .8)), url("../img/nav-bg.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    /* transition: opacity 0.8s ease, visibility .8s ease; */
    transition: left .8s ease;
}

.navigation-header{
    margin-top: 1.5rem;
}

.navigation-heading{
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #deaa86;
    text-align: center;
    letter-spacing: 1px;
}

.navigation-search{
    position: relative;
}

.navigation-search-input{
    width: 18rem;
    padding: .725rem 2rem;
    background: rgba(0, 0, 0, .3);
    border-radius: 100px;
    font-family: "Josefin Sans", sans-serif;
    color: #deaa86;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid #555;
}

.navigation-search-input:focus{
    background: rgba(0, 0, 0, .1);
}

.navigation-search-btn{
    border: none;
    background: transparent;
    color: #deaa86;
    font-size: 1.5rem;
    padding: 0;
    font-weight: 700;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.navigation-search-btn:focus{
    outline: none;
}

.navigation-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.navigation-list li{
    /* text-align: center; */
    margin-bottom: 2em;
}

.navigation-item{
    position: relative;
}

.navigation-link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color .3s;
}

.navigation-link::before{
    content: "";
    /* width: 1.75rem; */
    width: 0;
    height: 1px;
    background: #deaa86;
    position: absolute;
    top: 8px;
    left: -40px;
    transition: width .3s;
}


.navigation-link::after{
    content: "";
    /* width: 1.75rem; */
    width: 0;
    height: 1px;
    background: #deaa86;
    position: absolute;
    top: 8px;
    right: -40px;
    transition: width .3s;
}

.navigation-link:hover,
.navigation-link:focus{
    color: #deaa86;
}

.navigation-link:hover::before,
.navigation-link:hover::after{
    width: 1.75rem;
}

.copyright{
    color: #fff;
    font-size: 0.75rem;
}

/* end of navbar styles */

.checkbox{
    display: none;
}

.checkbox:checked ~.navigation{
    /* opacity: 1;
    visibility: visible; */
    left: 0rem;
    pointer-events: auto;
}


.container{
    margin-left: 5rem;
}

.header{
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)), url("../img/header-1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.brand{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hotel-heading{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    color: #deaa86;
    letter-spacing: 1px;
    margin-bottom: 0;

}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: white;
}

.banner-heading{
    font-size: 4.5rem;
    font-weight: 400;
    /* color:#deaa86; */
    animation: anim 2s;
}

.banner-paragraph{
    font-size: 2.125rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}

.banner-button{
    outline: none;
    border: none;
    width: 13.125rem;
    font-size: 1.25rem;
    /* font-weight: bold; */
    cursor: pointer;
    padding: .725em 1.5em;
    border-radius: 100px;
    background: linear-gradient(to right,gold, goldenrod);
    color: #333;
    letter-spacing: 1px;
    transition: background .3s;
    animation: anim 1s 1s backwards;
}

.banner-button:hover,
.banner-button:focus{
    background: linear-gradient(to left,gold, goldenrod);
}

.banner-button:active{
    transform: translateY(2px);
}


@keyframes anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* about use section */

.about-us{
   display: flex;
   background: #ddd;
}

.about-us-content,
.about-us-images{
    flex: 0 1 50%;
}

.about-us-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.25em;
}

.about-us-heading{
    font-weight: 300;
    font-size: 3.25rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: .625em;
}

.small-underline{
    width: 5.75rem;
    height: 1px;
    background: #b85d1c;
    margin: 0 auto;
    margin-bottom: .75rem;

}

.big-underline{
    width: 12.5rem;
    height: 1px;
    background: #b85d1c;
    margin: 0 auto;
    margin-bottom: 2rem;
}


.sub-heading{
    font-size: 2.25rem;
    font-weight: 300;
    color: #b85d1c;
}

.about-us-paragraph{
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3.25rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.about-us-button{
    outline: none;
    border: 1px #b85d1c solid;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    background: #ddd;
    /* background: #b85d1c; */
    color: #b85d1c;
    transition: background .5s, color .5s;

}


.about-us-button:hover,
.about-us-button:focus
{
    border: none;
    background: #b85d1c;
    color: white;
}

.about-us-images{
    position: relative;
}

.img{
    width: 320px;
    position: absolute;
    display: block;
    top:50%;
    left: 50%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .4);
    border-radius: 4px;
    border: 2px solid #b85d1c;
}


.img-1{
    transform: translate(-20%, -90%);
}

.img-2{
    transform: translate(-70%, -70%);
}

.img-3{
    transform: translate(-50%, -50%);
}

.img-4{
    transform: translate(-30%, -30%);
}

/*  end of about us section*/
/****************************************************/
/* room section  */

.common-header{
   text-align: center;
   color: #b85d1c;
}

.common-heading{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.rooms{
    margin-top: 3.125rem;
}

.room-card{
    width: 37.5rem;
    margin: 3.125rem;
    background-color: #15141b;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .3);
}

.rooms-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.room-card-content{
    color: #ddd;
    padding: 1.25rem;
}

.room-card-heading{
    font-size: 1.875rem;
    font-weight: 300;
    margin-bottom: .725em;
}

.room-card-paragraph{
    font-size: 1rem;
    color: #777;
}

.room-price{
    font-size: 3.125rem;
    font-weight: 300;
    text-align: end;
    margin-bottom: 0;
}

.room-card-btn{
    outline: none;
    border: 1px #b85d1c solid;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    background: #ddd;
    border-radius: 100px;
    /* background: #b85d1c; */
    color: #b85d1c;
    transition: background .5s, color .5s;
}


.room-card-btn:hover,
.room-card-btn:focus
{
    /* border: none; */
    background: #b85d1c;
    color: white;
}

.rooms-btn-wrapper{
    text-align: center;
}

.rooms-btn{
    width: 12.5rem;
    padding: 1rem;
    margin: 2.5rem;
    background: transparent;
    text-transform: uppercase;
    color: #b85d1c;
    outline: none;
    border: 2px solid #b85d1c;
    cursor: pointer;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .2);
    transition: background .3s;
    font-size: 1rem;
    font-weight: 600;
}

.rooms-btn:hover{
    background: #b85d1c;
    color: #ddd;
}


/* end of room section */
/****************************************************/

/* start of customers section */
.customers{
    margin-top: 3rem;
}

.customers-paragraph{
    margin-top: 4rem;
}

/* end of customers section */


























