*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1rem;
    color: #404040; /* better than dark */
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
}

h1{
    font-size: 2.25rem;
    font-weight: 300;
}

h2{
    margin: 0;
}

h1 + p,
h2 + p{
    color: #f18119;
    font-size: 1.3125rem;
    font-weight: 900;
    text-transform: uppercase;
}

strong{
    font-weight: 900;
}

.top-text{
    font-size: 0.625rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #f18119;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #ff713b;
    padding-top: 5px;
    border-image: linear-gradient( to left, #ff713b, #ffa51d) 1;
}

/* .sub-title{
    margin-bottom: 0;
} */

.fine-print{
    font-size: 0.625rem;
    letter-spacing: 1px;
}

/*===========
intro
=============*/

.intro{
    /* background-color: #404040; */
    background-image: url(images/ribs.jpg), linear-gradient(45deg, red, blue);
    background-blend-mode: multiply;
    color: white;
    padding: .5em 2em;
    padding-top: 0;
    /* max-width: 100%; */
    background-size: cover;
    background-position: center;
}

.main-content{
    padding: 2em 1em;
}

.container{
    max-width: 400px;
    margin: 0 auto;
}

.container-intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    align-items: center;
}


.email-collector{
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

input, .btn{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: inherit;
    border: 1px solid #404040;
    border-radius: 5px;
}

input{
    padding: .25em;
    border-radius: 5px;
    border: 1px solid #404040;
    transform: scale(1);
    transition: transform .25s;

}

input:focus{
    transform: scale(1.1);
    outline: none;
}

.btn{
    display: inline-block;
    padding: 0.75em 0;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-primary{
    background-image: linear-gradient(to left, #ff713b, #ffa51d);
    color: white;
    transform: scale(1);
    transition: transform .25s, color .25s;
}

.btn-primary:hover{
    transform: scale(1.1);
    color: #404040;
}


@media (min-width: 500px) {
    body{
        font-size: 1.125rem;
    }

    h1{
        font-size: 3.5rem;
    }

    h2,
    h1 + p{
        font-size: 1.75rem;
    }

    .container-flex{
        display: flex;
    }

    .intro,
    .main-content{
        width: 50%;
        min-height: 100vh;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-intro{
        min-height: 100%;
    }



}