*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1rem;
    color: #404040; /* better than dark */
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
}

h1{
    font-size: 2.25rem;
    font-weight: 300;
}

h2{
    margin: 0;
}

h1 + p,
h2 + p{
    color: #f18119;
    font-size: 1.3125rem;
    font-weight: 900;
    text-transform: uppercase;
}

strong{
    font-weight: 900;
}

.top-text{
    font-size: 0.625rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #f18119;
    text-transform: uppercase;
    order: -1;
}

/* .sub-title{
    margin-bottom: 0;
} */

.fine-print{
    font-size: 0.625rem;
    letter-spacing: 1px;
}

/*===========
intro
=============*/

.intro{
    background-color: #404040;
    background-image: url(images/dark-ribs.jpg);
    color: white;
    padding: .5em 2em;
    /* max-width: 100%; */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.main-content{
    padding: 2em 1em;
}



@media (min-width: 500px) {
    body{
        font-size: 1.125rem;
    }

    h1{
        font-size: 3.5rem;
    }

    h2,
    h1 + p{
        font-size: 1.75rem;
    }

    .container-flex{
        display: flex;
    }

    .intro,
    .main-content{
        width: 50%;
        min-height: 100vh;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}