h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.page-header {
    text-align: center;
    margin: 45px 0;
}

.card {
    width: 500px;
    margin: auto;
    background-color: gainsboro;
    text-align: center;
}

.card-img {
    width: 90%;
    object-fit: cover;
    display: inline-block;
}