body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h1 {
    margin: 45 0;
    font-size: 48px;
    color: #2e7ad3;
}


a {
    color: #ff8000;
}

a:visited {
    color: #ff8000;
}

a:hover,
a:focus {
    color: green;
}


p {
    line-height: 1.3;
}


.page-header {
    text-align: center;
    margin: 45px 0;
}

.card {
    width: 450px;
    margin: auto;
    background-color: #f1f1f1;
    text-align: left;
    padding: 25px;
}

.card-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    display: inline-block;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #104c90;
    font-weight: 700;
}

.card-text {
    /* reset default margins */
    margin-bottom: 9px;
    /* add spacing below each */
}

.card :nth-last-child(1 of .card-text) {
    margin: 0;
}



.link {
    text-align: left;

}