body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h1 {
    margin: 45 0;
    font-size: 48px;
    color: #2e7ad3;
}


a {
    color: #ff8000;
}

a:visited {
    color: #ff8000;
}

a:hover,
a:focus {
    color: green;
}


p {
    line-height: 1.3;
}


.page-header {
    text-align: center;
    margin: 45px 0;
}

.card {
    width: 500px;
    margin: auto;
    background-color: #f1f1f1;
    text-align: center;
    padding: 1.0em 1.5em;
}

.card-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    display: inline-block;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #104c90;
}

.card p {
    text-align: left;
}

.link {
    text-align: left;

}