*{
    box-sizing: border-box;
}

/*  */

body{
    margin: 0;
    font-size: 16px;
}

.card-img{
    display: block;
    /* width: 100%; */
     min-width: 0;
     min-height: 0;
    object-fit: cover;
    /* height: 200px; */
    flex-basis: 200px;
}

h1, h2, h3,h4, h5, h6, p, li {
    margin-top: 0;
}

.card{
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    background: #111D4A;
    color:white;
}

.card-content{
    padding: 1em;
}


.card-title,
.card-btn,
.card-read-time{
    font-family: "Blinker", sans-serif;
}

.card-title{
    color: #05CBE9;
    font-size: 1.75rem;
}

.card-body{
    font-size: 1rem;
    line-height: 1.6;
}

.card-btn{
    font-size: 1.25rem;
    text-decoration: none;
    color:#111D4A;
    background: #05CBE9;
    padding: .5em 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background 500ms;
}

.card-btn:hover,
.card-btn:focus{
    background: white;
}


/* Layout Code */

.container-flex{
    display: flex;
    flex-direction: column;
}


.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.card-read-time{
    margin: 0;
    font-size: 1rem;
    opacity: 0.6;
    line-height: 1;
}

.card-read-time span{
    font-weight: 700;
    display: block;
    font-size: 1.25em ;
}

@media (min-width: 600px) {
    .card-title{
        font-size: 36px;
    }
    .card-body{
        font-size: 18px;
        max-width: 500px;
    }
    .container-flex{
        flex-direction: row;
    }
    .card-img{
        height: 300px;
        /* height: auto; */
        /* flex-shrink: 0; */
    }

    .card-content{
        display: flex;
        flex-direction: column;
    }
    .card-footer{
        margin-top: auto;
    }

}