*{
    box-sizing: border-box;
}

/*  */

body{
    margin: 0;
    background: #111D4A;
    font-size: 16px;
    color:white;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
    height: 150px;
}

h1, h2, h3,h4, h5, h6, p, li {
    margin-top: 0;
}

.card{
    /* width: 90%; */
    margin: 0 auto;
    max-width: 800px;
}

.card-content{
    padding: 1em;
}


.card-title,
.card-btn,
.card-read-time{
    font-family: "Blinker", sans-serif;
}

.card-title{
    color: #05CBE9;
    font-size: 1.75rem;
}

.card-body{
    font-size: 1rem;
    line-height: 1.6;
}

.card-btn{
    font-size: 1.25rem;
    text-decoration: none;
    color:#111D4A;
    background: #05CBE9;
    padding: .5em 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}


/* Layout Code */

.container-flex{
    display: flex;
    flex-direction: column;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.card-read-time{
    margin: 0;
    font-size: 1rem;
    opacity: 0.6;
    line-height: 1;
}

.card-read-time span{
    font-weight: 700;
    display: block;
    font-size: 1.25em ;
}