* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #2c73d2 ;
    color: white;
    text-align: center;
}

.flex-container{
    border: 10px solid #f9f871;
    /* max-width: 600px; */
    margin: 0 auto;
    width: 80%;
    padding: .25em;
    display: flex;
}

.flex-item{
    background: #8bee86;
    margin: .5em;
    padding: .5em;
    color: #424656;
}

.flex-item-1{
    background: plum;
    flex-grow: 1;
}


.flex-item-2{
    background: mediumslateblue;
    flex-grow: 2;
    color: white;
    font-weight: 700;
}